.flex-settings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .holes-teeboxes {
        padding: 10px;
    }

    .player-names {
        padding: 10px;
    }
}

.submit-div {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {

    .flex-settings {
        flex-direction: column;
    }

}