<mat-card *ngIf="courseData && !displayTable" class="scorecard">
    <table>

        <tr>
            <th>Holes</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.hole }}
                </span>
            </td>
            <td>OUT</td>
        </tr>

        <tr>
            <th>Yards</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].yards }}
                </span>
            </td>
            <td>{{ getTotalOutYards() }}</td>
        </tr>

        <tr>
            <th>Handicap</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].hcp }}
                </span>
            </td>
            <td></td>
        </tr>

        <tr *ngFor="let player of players">
            <th>{{ player.name }}</th>
            <td *ngFor="let hole of playerHoles | slice:0:9">
                <input type="number" [(ngModel)]="player[hole]">
            </td>
            <td>{{ getTotalOut(player) }}</td>
        </tr>

        <tr>
            <th>Par</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].par }}
                </span>
            </td>
            <td>{{ getTotalOutPar() }}</td>
        </tr>

    </table>

    <!-- holes 10-18 -->
    <table *ngIf="holeAmount === 18">

        <tr>
            <th>Holes</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.hole }}
                </span>
            </td>
            <td>IN</td>
        </tr>

        <tr>
            <th>Yards</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].yards }}
                </span>
            </td>
            <td>{{ getTotalInYards() }}</td>
        </tr>

        <tr>
            <th>Handicap</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].hcp }}
                </span>
            </td>
            <td></td>
        </tr>

        <tr *ngFor="let player of players">
            <th>{{ player.name }}</th>
            <td *ngFor="let hole of playerHoles | slice:9:18">
                <input type="number" [(ngModel)]="player[hole]">
            </td>
            <td>{{ getTotalIn(player) }}</td>
        </tr>

        <tr>
            <th>Par</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].par }}
                </span>
            </td>
            <td>{{ getTotalInPar() }}</td>
        </tr>

    </table>

</mat-card>

<div class="totalDiv">
    <button *ngIf="!displayTable" mat-raised-button (click)="finishCard()">Finish</button>

    <table *ngIf="displayTable" class="totalTable">

        <tr>
            <th colspan="2">Total</th>
        </tr>

        <tr *ngFor="let player of players">
            <th>{{ player.name }}</th>
            <td>{{ getTotal(player) }}</td>
            <td class="noBorder" [ngClass]="isUnder ? 'under' : 'over'">{{ isUnder ? '' : '+' }}{{ getDifference(player) }}</td>
        </tr>

        <tr>
            <th>Par</th>
            <td id="totalPar" *ngIf="holeAmount == 9">{{ getTotalOutPar() }}</td>
            <td id="totalPar" *ngIf="holeAmount == 18">{{ getTotalPar() }}</td>
        </tr>

    </table>

    <!-- <p>Take a screenshot and share your awesome (or terrible) scores with your friends!</p> -->

</div>