<mat-card *ngIf="courseData" class="scorecard">
    <table>

        <tr>
            <th>Holes</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.hole }}
                </span>
            </td>
            <td>OUT</td>
        </tr>

        <tr>
            <th>Yards</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].yards }}
                </span>
            </td>
            <td>(out yards)</td>
        </tr>

        <tr>
            <th>Handicap</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].hcp }}
                </span>
            </td>
            <td></td>
        </tr>

        <tr class="playerRow" *ngFor="let player of players">
            <th>{{ player }}</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    <!-- <input type="number" [(ngModel)]="player[holeData.hole]"> -->
                    (input)
                </span>
            </td>
            <!-- <td>{{getTotalOut(player)}}</td> -->
            <td>(out total)</td>
        </tr>

        <tr>
            <th>Par</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:0:9; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].par }}
                </span>
            </td>
            <td>(out par)</td>
        </tr>

    </table>

    <!-- holes 10-18 -->
    <table *ngIf="holeAmount === 18">

        <tr>
            <th>Holes</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.hole }}
                </span>
            </td>
            <td>IN</td>
        </tr>

        <tr>
            <th>Yards</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].yards }}
                </span>
            </td>
            <td>(in yards)</td>
        </tr>

        <tr>
            <th>Handicap</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].hcp }}
                </span>
            </td>
            <td></td>
        </tr>

        <tr class="playerRow" *ngFor="let player of players">
            <th>{{ player }}</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    (input)
                </span>
            </td>
            <td>(in total)</td>
        </tr>

        <tr>
            <th>Par</th>
            <td *ngFor="let holeData of courseData.data.holes | slice:9:18; let i = index">
                <span *ngIf="i < holeAmount">
                    {{ holeData.teeBoxes[teebox].par }}
                </span>
            </td>
            <td>(in par)</td>
        </tr>

    </table>
</mat-card>