.scorecard {
    overflow-x: scroll;

    table {
        border: 3px solid black;
        border-collapse: collapse;
        margin: 10px;

        th, td {
            border: 1px solid gray;
            min-width: 75px;
            padding: 10px;
        }

        input {
            border: none;
            width: 100%;
        }
    }
}

.totalDiv {
    display: flex;
    justify-content: center;
    margin: 20px;

    .totalTable {
        margin: auto;
        border-collapse: collapse;

        th, td {
            border: 1px solid gray;
            min-width: 75px;
            padding: 10px;
        }

        .noBorder {
            border: none;
        }

        .under {
            color: green;
        }

        .over {
            color: red;
        }
    }

    .playerMessages {
        display: flex;
        justify-content: center;

        .playerMessage {
            margin: 15px;
        }
    }
}